
/*..PARTE DE ARRIBA..*/

.posicion1 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cuerpodelaconsola{
    width: 18.5em;
    height: 30em;
    background: linear-gradient(to top, #f69ebd 41%, #7f3f6a 100%);
    border-radius: 7% 7% 17% 7%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.562) 10px 10px 10px 6px;
    margin: 1em;
    display: flex;
    justify-content: center;
}

.pantallanegra{
    width: 16.5em;
    height: 13.5em;
    background-color: black;
    border-radius: 7% 7% 7% 7%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: -14em;
}

.pantallagris{
    width: 14em;
    height: 11em;
    background-color: rgb(57, 75, 68);
    border-radius: 7% 7% 7% 7%;
    margin-top: 1em;
}
.pantallagris:hover{
    width: 10em;
    height: 9em;
    border-radius: 7% 7% 7% 7%;
    margin-top: 1em;
    transition: 0.2s;
    background-image: url("https://r.mprd.se/fup/up/68102-Sabrina_-_The_Animated_Series_-_Zapped!_(Europe)_(En,Fr,De)-1523653163.png");
}
    /* IMAGENES MAXIMAS */

img.color{
    width: 11em;
    height: 1.1em;
    border-radius: 15%;
    position: relative;
    top: -5.5em;
    right: 21em;
}

img.logo {
    width: 80px;
    height: 20px;
    border-radius:150px;
    border:10px;
    position: relative;
    top: -3.5em;
    right: 12.5em;
}



/*..PARTE DE ABAJO..*/

.boton1 {
    width: 1.7em;
    height: 1.2em;
    background: linear-gradient(to right, #0d0d0d 0%, #aaa1a4 100%);
    border-radius: 7% 7% 7% 7%;
    box-shadow: rgba(0, 0, 0, 0.562) 2px 2px 2px 1px;
    margin-top: 1.5em;
    position: relative;
    right: 18em;
    top: 18.7em;

}

.boton1:hover {
    width: 1.7em;
    height: 1.2em;
    background: linear-gradient(to right, #1f306e 0%, #aaa1a4 100%);
    border-radius: 7% 7% 7% 7%;
    margin-top: 1.5em;
    position: relative;
    right: 18em;
    top: 18.7em;
    transition: 0.5em;   
}

.boton2 {
    width: 1.2em;
    height: 1.7em;
    background: linear-gradient(to bottom, #0d0d0d 0%, #aaa1a4 100%);
    border-radius: 7% 7% 7% 7%;
    box-shadow: rgba(0, 0, 0, 0.562)  2px 2px 2px;
    margin-top: 1.5em;
    position: relative;
    right: 16.4em;
    top: 14.5em;  
}

.boton2:hover {
    width: 1.2em;
    height: 1.7em;
    background: linear-gradient(to bottom, #553772 0%, #aaa1a4 100%);
    border-radius: 7% 7% 7% 7%;
    margin-top: 1.5em;
    position: relative;
    right: 16.4em;
    top: 14.5em;
    transition: 0.5em;
}

.boton3 {
    width: 1.7em;
    height: 1.2em;
    background: linear-gradient(to left, #0d0d0d 0%, #aaa1a4 100%);
    border-radius: 7% 7% 7% 7%;
    box-shadow: rgba(0, 0, 0, 0.562) 2px 2px 2px;
    margin-top: 1.5em;
    position: relative;
    left: -15.3em;
    top: 12.8em;
     
}

.boton3:hover {
    width: 1.7em;
    height: 1.2em;
    background: linear-gradient(to left, #8f3b76 0%, #aaa1a4 100%);
    border-radius: 7% 7% 7% 7%;
    margin-top: 1.5em;
    position: relative;
    left: -15.3em;
    top: 12.8em;
    transition: 0.5em;
}

.boton4 {
    width: 1.2em;
    height: 1.2em;
    background-color: #AAA1A4;
    border-radius: 15% 15% 15% 15%;
    margin-top: 1.5em;
    position: relative;
    right: 16.4em;
    top: 10em; 
}

.boton5 {
    width: 1.2em;
    height: 1.7em;
    background: linear-gradient(to top, #0d0d0d 0%, #aaa1a4 100%);
    border-radius:  7% 7%;
    box-shadow: rgba(0, 0, 0, 0.562)  2px 2px 2px;
    margin-top: 1.5em;
    position: relative;
    right: 16.4em;
    top: 8.4em;   
}

.boton5:hover {
    width: 1.2em;
    height: 1.7em;
    background: linear-gradient(to top, #c2437a 0%, #aaa1a4 100%);
    border-radius:  7% 7%;
    margin-top: 1.5em;
    position: relative;
    right: 16.4em;
    top: 8.4em;
    transition: 0.5em; 
}

.botonesredondos{
    display: flexbox;
    justify-self: center;
    align-self: center;
}

.redondo1 {
    width: 2.2em;
    height: 2.2em;
    border-radius: 50% 50% 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.562)  2px 2px 2px;
    position: relative;
    right: 5em;
    top: 4.5em;
    background: linear-gradient(to bottom right, #0d0d0d 26%, #aaa1a4 100%);
}

.redondo1:hover {
    width: 2.2em;
    height: 2.2em;
    border-radius: 50% 50% 50% 50%;
    position: relative;
    right: 5em;
    top: 4.5em;
    background: linear-gradient(to bottom right, #0d0d0d 26%, #f5487f 100%);
    transition: 0.5em;
}

.redondo2 {
    width: 2.2em;
    height: 2.2em;
    border-radius: 50% 50% 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.562)  2px 2px 2px;
    position: relative;
    right: 8em;
    top: 4em;
    background: linear-gradient(to bottom right, #0d0d0d 26%, #aaa1a4 100%);
}

.redondo2:hover {
    width: 2.2em;
    height: 2.2em;
    border-radius: 50% 50% 50% 50%;
    position: relative;
    right: 8em;
    top: 4em;
    background: linear-gradient(to bottom right, #0d0d0d 26%, #f5487f 100%);
    transition: 0.5em;
}

.botonesrectangulo{
    display: flexbox;
    justify-self: flex-end;
    align-self: flex-end;
}

.rectangulo1 {
    width: 2em;
    height: 0.5em;
    position: relative;
    right: 13em;
    top: 8.5em;
    border-radius: 45%;
    box-shadow: rgba(0, 0, 0, 0.562)  2px 2px 2px;
    background: linear-gradient(to bottom, #0d0d0d 27%, #aaa1a4 100%);
}

.rectangulo2 {
    width: 2em;
    height: 0.5em;
    position: relative;
    right: 10em;
    top: 8em;
    border-radius: 45%;
    box-shadow: rgba(0, 0, 0, 0.562)  2px 2px 2px;
    background: linear-gradient(to bottom, #0d0d0d 27%, #aaa1a4 100%);
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6em;
    right: 10.9em;
    font-size: 0.9em;
    font-family: Helvetica;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -9.9em;
    right: 7.5em;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}