
/*PRIMERA PANTALLA*/

.prueba{
display: flex;
justify-content: center;
align-items: center;
}

.pantallaarriba{
    width: 20em;
    height: 20em;
    background-color: pink;

    border-radius: 7% 7% 7% 7%;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pantallanegra{
    width: 15em;
    height: 15em;
    background-color: black;
    border-radius: 7% 7% 7% 7%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pantallagris{
    width: 12em;
    height: 12em;
    background-color: grey;
    border-radius: 7% 7% 7% 7%;
}
    